@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:#0b0b10;
  --ink:#eae6ff;
}

html, body, #root {
  height: 100%;
  background: radial-gradient(1200px 800px at 50% -10%, #2a1b47 0%, transparent 60%), var(--bg);
  color: var(--ink);
}
